MYSQL_DATABASE=health_assistant
MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=replace_with_a_strong_password
MYSQL_ROOT_PASSWORD=replace_with_a_strong_root_password
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3307

JWT_SECRET=sdfsdfsdffsdgfddf
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30